<div class="form-group align-center">
    <h2>Add Product Movement</h2>

    <div>
        <label for="productCode">Product Code</label>
        <input type="text" id="productCode" class="form-control" placeholder="Enter code">
    </div>

    <div>
        <label for="productMovementType">Product Movement Type</label>
        <select id="productMovementType" class="form-control">
            <option value="" disabled selected>Select an option</option>
            <option value="0">Inbound</option>
            <option value="1">Outbound</option>
        </select>
    </div>

    <div>
        <label for="productQuantity">Quantity</label>
        <input type="text" id="productQuantity" class="form-control" placeholder="Enter quantity">
    </div>

</div>