#mainTitle {
  text-align: center;
}

.home-page-buttons-container {
  display: flex;
  flex-direction: row;
}

.home-page-button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}

.home-page-button:hover {
  background-color: #33a9ad;
}

.selected {
  background-color: #0c21e4;
}

.component-container {
  padding: 20px;
}

.fields-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}